.header {
    text-align: left;
    
}
.prva{
    position: relative;
    top: 50px;
    left: 100px;
    margin-bottom: 50px;
}
.druga{
    height: 200px;
    width: 200px;
    position: absolute;
    top: 15px;
    right: 10px;
}
.treca {
        position:fixed;
bottom: 10px;
right: 10px;

}