 @font-face {
    font-family:span;
    src: url(./fonts/Roboto-Black.ttf);
   }
   @font-face{
    font-family: navigacija;
    src:url(./fonts/fontawesome-webfont.ttf)
   }
   @font-face{
    font-family: foto;
    src: url(./fonts/fontawesome-webfont.eot);
   }
   @font-face{
    font-family: tekst;
    src: url(./fonts/glyphicons-halflings-regular.eot);
   }
   @font-face{
    font-family:tekst1;
    src: url(./fonts/fontawesome-webfont.woff);
   }  
    @font-face{
    font-family: tekst2;
    src: url(./fonts/Roboto-Light.ttf);
   }  
    @font-face{
    font-family: tekst3;
    src: url(./fonts/Roboto-MediumItalic.ttf);
   }
   @font-face{
    font-family: tekst4;
    src: url(./fonts/Roboto-Italic.ttf);
   }
   @font-face{
    font-family: tekst5;
    src: url(./fonts/Roboto-Bold.ttf);
   }
   @font-face{
    font-family: tekst6;
    src: url(./fonts/Roboto-ThinItalic.ttf);
   }
   @font-face{
    font-family: tekst7;
    src: url(./fonts/FontAwesome.otf);
   }
   @font-face{
    font-family: tekst8;
    src: url(./fonts/glyphicons-halflings-regular.ttf);
   }
   @font-face{
    font-family: tekst9;
    src: url(./fonts/Roboto-Thin.ttf)
   }
   @font-face{
    font-family: tekst10;
    src: url(./fonts/Roboto-Black.ttf);
   }

.h1{
    color:#6D6D6D ;
    font-family: span;
}


@media (max-width:768px) {
      .span{
    color: #FF9801;
    padding: 5px;
    border-top:5px solid#6D6D6D ;
    border-left: 5px solid#6D6D6D ;
    border-bottom: 5px solid#6D6D6D ;
    text-align: center;
 }
  .h1 {
        text-align: center;
    }
    .naslov{
        padding-top: 20px;
    }
    nav{
        display: flex;
        color: antiquewhite;
        width:80%;
        height: 150px;
        background-color:#7fc2f7 ;
        font-family: span;
        flex-flow:column wrap;
        justify-content: space-evenly;
        align-items: center;
        margin:0 auto;
       
    }
   .nav nav a{
    color: aliceblue;
    text-decoration: none;
}

.foto{
    height: 100%;
    background:#FFF url(./images/banner3.jpg)  no-repeat;
    background-size: cover;
    text-align: center;
    padding: 20%;
    margin-top: 20px;
}
 h1{
    text-align: center;
    color: aliceblue;
    font-family:tekst9 ;
    font-size:medium;
    margin-bottom:7%;
}
button{
    background-color: #146EB4;
    color:whitesmoke;
    font-family: tekst9;
    border:none;
    border-radius: 10px;
    padding: 5px;
   }
   .cube{
   display: flex;
   align-items: center;
   justify-content: center;
   }
.first{
   border:0.3px solid black;
    width:10%;
   }
.second{
    border:0.3px solid black;
    width:10px;
    height: 10px;
    transform: rotate(45deg);
  margin:1%;
   }
.third{
    border:0.3px solid black;
    width: 10%;
   }
.centralImage{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
   }
.lista{
    padding: 0;
    font-size: 5px;
   }
.text h1{
    color:black !important;
    font-family: tekst2;
    font-size:large;
    margin:3%;
    text-align: center;
   }
.h2{
    color:#529fdd;
    font-family: tekst9;
    text-align:left;
    margin: 5%;
}
.paragraf {
    font-family:tekst2;
    margin:5%;
    text-align: left;
    text-decoration: #504343 ;
 }
.lista ul li{
    list-style-image: url(./images/arrow_bullet.png);
    font-family: tekst8;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #6D6D6D;
    font-size:20px;
    padding-left: 20px;
 }
 .imgOne{
    padding-top: 0;
   
}
    .down h2{
        font-family: tekst9;
        font-size: 30px;
    }
.down p{
    font-family: tekst2;
    font-size: 20px;
}
.down ul{
    padding-left: 0;
    font-family: tekst8;
    padding-bottom: 0;
}
.celebrity{
    display: flex;
    flex-wrap: wrap;
}
.col{
        display: flex;
        flex-direction: column;
        width:100%;
        padding: 10px; 
        margin:8px; 
        background-color: #146EB4;
        }
.testimonial{
        padding: 1%;
        color: antiquewhite;
        font-family: tekst6; 
    }
    .imageAll{
        display: flex;

    }
.testimonialsAll{
    display: flex;
    flex-direction: column;
    }
.testimonial img {
    width:100px;
    height: 100px;
    border-radius: 50%;
    border: 5px solid white;
    padding: 5px
    }
.nameStars{
        font-size: 15px;
        text-transform: uppercase;
        margin: 20px 0;
        color:black;
        font-family: tekst10;
        text-align:start;
    }
 i{
     display: flex;
     color:#FFF;
     flex-direction: row;
}
.paraf{
        text-align: center;
        color: #FFF;
        font-family: tekst9;
    }
    .gomez{
       flex:60%;
       flex-wrap: wrap;
      
    }
.contact{
    background-color: #529fdd;
   }
.contact h1{
    color: black;
    font-family: tekst2;
   }  
.contactForm{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    /* padding: 20px ; */
   width: 100%;
   margin-top: 20px;
}
.contact{
    background-color: #03fc88;
    text-align:center;
    font-family:tekst5;
    color: #FFF;
   
}
.contact span{
    font-size: 10px;
    font-family: tekst5;
    text-align: center;
}
.spanContact{
    display: flex;
    flex-direction: row;
   justify-content: center;
   margin: 5px;
}
.spanContact p{
   display: flex;
    text-align: center;
   margin: 0;
   flex-wrap: wrap;
   justify-content: center;
}
.spanContactOne {
  display: flex;
 flex-direction: row;
  justify-content: center;
  margin:0
}
.spanContactOne p{
    display: flex;
    flex-direction: column;
    margin-top: 0;
    margin-bottom: 0;
  
}
.conect{
    display: flex;
    flex-direction: column;
    background-color:#df03fc;
    font-family: tekst5;
    font-size: 15px;
    color:#FFF;
    text-align: center;
}
.conect span{
    font-size: 20px;
    font-family: tekst5;
    text-align: center;
}
.adress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #146EB4;
    color: #FFF;
    text-align: center;
    font-family: tekst5;
}
.adress p{
    font-size: 15px;
    font-family: tekst5;
}
.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.house{
    background-color: #529fdd;
    color: #FFF;
    text-align: center;
}
.house img{
    background-color: #529fdd;
    width:100px;
    text-decoration: none;
   
}
.mapa{
    overflow:hidden;
padding-bottom:56.25%;
position:relative;
height:0;
}
.mapa iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}
.mail{
    padding: 20px;
}
textarea {
    resize: none;
    width: 100%;
    padding: 5px;
}
input[type=text]{
    width:100%;
    padding: 4px;
    margin-bottom: 10px;
  
}
input[type=submit] {
    width: 30%;
    background-color: #FF9801;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .footer{
    display: flex;
    width:100%;
    background-color:black ;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .lista{
    display: flex;
    flex-direction: row;
    width: 100%;
    padding: 20px;
  }
.navEnd ul li{
    list-style: none;
    background-color: black;
    color: #FFF;
    font-family: tekst2;
    font-size: 20px;
}
.one{
    padding:5px;
    margin: 10px;
}
.two {
    padding: 5px;
    margin: 10px;
}
.three{
    padding: 5px;
    margin: 10px;
}
.four{
    padding: 5px;
    margin: 10px;
}
.five{
    padding: 5px;
    margin: 10px;
}
.footer p{
    color: #FFF;
    font-family: tekst2;
    text-align: center;
}
}
@media(min-width: 768px){
 body{
    margin:0;
 }
    .header{
background-image: url(./images/banner3.jpg);
width: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
height:500px;
margin:0;
  }
   .h1  span{
    font-family: tekst5;
    color: #FF9801;
    padding: 5px;
    border-top:5px solid white;
    border-left: 5px solid white ;
    border-bottom: 5px solid white ;
    text-align: center;
  

   }
 .h1{
    color: aliceblue;
    padding-top: 20px;
    margin-top: 0;
    padding-left: 20px;
 }
 .nav{
    flex:1 0 40%;
    position: relative;
    text-align: right;
    color:#FFF;
    font-family:tekst9;
    padding-top: 20px;
 }
 .nav a{
    text-decoration: none;
    color: #FFF;
    padding-right: 20px;
 }
 .naslov{
    flex:1 0 40%;
    padding-top: 0px;
}
.topHeader{
    display: flex;

}
.foto{
    text-align: center;
}
.foto h1{
    text-align: center;
    color: #FFF;
    font-size: 48px;
    font-family: teks5;

}
.foto button{
padding:5px 20px;
background-color:#146EB4;
color: #FFF;
border-radius: 5px;
border:none;
}
.text{
    color: black;
    font-family: tekst9;
    text-align: center;
    padding-top: 20px;
}
.cube{
    display: flex;
    align-items: center;
    justify-content: center;
    }
    .first{
        border:0.3px solid black;
         width:10%;
        }
    .second{
        border:0.3px solid black;
         width:10px;
         height: 10px;
         transform: rotate(45deg);
        margin:1%;
        }
    .third{
        border:0.3px solid black;
        width: 10%;
        }
.imageOne{
    margin: 0;
        }
.imageContainer{
   display: flex;
   flex-direction: column;
}
.lista ul li{
    list-style-image: url(./images/arrow_bullet.png);
    font-family: foto;
    margin-top: 1rem;
    margin-bottom: 1rem;
    color: #6D6D6D;
    padding-left: 0;
 }
.h2{
    color:#529fdd;
    font-family: tekst9;
    text-align:left;
        }
.paragraf {
    font-family:tekst2;
    text-align: left;
    text-decoration: #504343 ;
     }
.centralPlace{
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    padding-top: 5px;
    margin:2%;
    font-size: 20px;
    height: 50%;
    }
.imageBuilding{
    display: flex;
}
.centralImage{
display: flex;
flex-direction: row;
}
.centralImage img{
    width: 60%;
    height: 50%;
    padding-top: 30px;

}
.down{
    text-align: left;
    margin: 2%;
    font-size: 25px;
    margin-bottom: 30px;
}
.col{
    display: flex;
    flex-direction: column;
    width:100%;
    padding-right: 10px; 
    margin:8px; 
    background-color: #146EB4;
    }
.testimonial{
    padding: 1%;
    color: antiquewhite;
    font-family: tekst6; 
}
.testimonial img {
width:100px;
height: 100px;
border-radius: 50%;
border: 5px solid white;
padding: 5px
}
.imageAll{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: flex-start;
    align-items: center;
}
.nameStars{
    font-size: 15px;
    text-transform: uppercase;
    margin: 20px 0;
    color:black;
    font-family: tekst10;
    text-align:start;
}
i{
 display: flex;
 color:#FFF;
 flex-direction: row;
}
.paraf{
    text-align: center;
    color: #FFF;
    font-family: tekst9;
}
.testimonialsAll{
    display: flex;
}
.gomez{
    width: 47%;
}
.contact{
    background-color: #529fdd;
    padding: 10px;
   }
    .contact h1{
    color: black;
    font-family: tekst2;
   }  
.contactForm{
    display:grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    margin-top: 20px;
}
.contact{
    display: flex;
    flex-direction: row;
    background-color: #03fc88;
    text-align:center;
    font-family:tekst5;
    color: #FFF; 
}
.spanContact{
    display: flex;
    flex-direction: row;
    align-content:flex-end;
    justify-content: center;
    padding: 5%;
}
.spanContactOne{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.spanContact p{
    margin: 0;
}
.spanContactOne p{
    margin:0;
}
.conect{
    display: flex;
    flex-direction: column;
    background-color:#eb4034;
    font-family: tekst5;
    font-size: 15px;
    color:#FFF;
    text-align: center;
    justify-content: space-around;
}
.conect span{
    font-size: 20px;
    font-family: tekst5;
    text-align: center;
    padding:20px;
}
.adress{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #146EB4;
    color: #FFF;
    text-align: center;
    align-items: center;
    font-family: tekst5;
}
.adress p{
    font-size: 20px;
    font-family: tekst5;
    margin: 0;
}
.icon{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
}
.house{
    background-color: #529fdd;
    color: #FFF;
    text-align: center;

}
.house img{
    background-color: #529fdd;
    width:200px;
    text-decoration: none;
}
.mapa {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .mapa iframe{
        left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
.mail{
    padding: 20px;
}
textarea {
    resize: none;
    width: 100%;
    padding: 5px;
}
.inputField{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-items: flex-start;
}
.txtClass{
resize: none;
display: flex;
height: 100px;
}
input[type=text]{
    width:100%;
    padding: 4px;
    margin-bottom: 10px;
    margin-right: 5px;
    padding: 15px;
}
input[type=submit] {
    width: 10%;
    background-color: #FF9801;
    color: white;
    padding: 14px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .footer{
    display: flex;
    width:100%;
    background-color:black ;
    justify-content: space-evenly;
    flex-direction: row;
  }
  .lista{
    display: flex;
    flex-direction: ;
    width: 100%;
    padding: 20px;
  }
.navEnd ul li{
    list-style: none;
    background-color: black;
    color: #FFF;
    font-family: tekst2;
}
.one{
    padding:5px;
    margin: 10px;
}
.two {
    padding: 5px;
    margin: 10px;
}
.three{
    padding: 5px;
    margin: 10px;
}
.four{
    padding: 5px;
    margin: 10px;
}
.five{
    padding: 5px;
    margin: 10px;
}
.footer p{
    color: #FFF;
    font-family: tekst2;
    text-align: center;
}
}
@media  (min-width: 1200px) {
.mainContainer{
    display: flex;
    justify-items: center;
    justify-content: space-around;
 }
.centralPlace{
    margin-right: 50px;
    margin-left: 20px;
    padding: 40px;
}
.centralImage img{
    width: 150%;
    padding: 20px;
}
.lista ul{
    font-family: tekst6;
    margin:0;
    font-size: 20px;
}
.down{
align-items: center;
}
.down h2{
    font-size: 30px;
}
.down p{
    font-size: 20px;
}

.celebrity{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly; 
}
.imageAll{
    display: flex;
    flex-direction: row;
    gap:10px;
    justify-content: flex-start;
    align-items: center;  
}

.gomez{
    width:70%;
}
.mapa {
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
 .mapa iframe{
        left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }
}
