<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>htmlImage</title>
    <link rel="stylesheet" href="./layout.css" />
  </head>
  <body>
    <main>
      <section>
        <article>
          <header>
            <h1 id="header">Position</h1>
          </header>
          <p class="paragraf">
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus,
            aliquid! Fugiat vero ipsam veritatis magnam, assumenda tenetur, eos
            nostrum magni iusto architecto ad provident ab natus dicta unde.
            Minus, ducimus. Lorem ipsum dolor sit amet consectetur adipisicing
            elit. Omnis debitis nobis doloribus harum assumenda minus labore
            quaerat ducimus, asperiores minima? Nihil at commodi laborum,
            voluptatibus totam aut unde aperiam magnam!Lorem Lorem ipsum dolor
            sit amet, consectetur adipisicing elit. Explicabo iure, architecto
            atque aliquam tempora assumenda blanditiis iste dicta. Cum, odio
            nemo nesciunt sapiente nobis libero ratione dolore voluptate ipsam
            porro.
          </p>
        </article>
      </section>
      <section>
        <img src="../../../download.png" alt="slika" width="200px" />
        <img src="../../../bart3.jpg" alt="Bart" width="200px" />
        <img src="../../../planina.jpg" alt="planina" width="200px" />
      </section>
      <nav>
        <ul>
          <li>Home</li>
          <li>About us</li>
          <li>Contactgi</li>
        </ul>
      </nav>
      <section>
        <article>
          <p>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Esse
            aliquam corrupti quaerat tenetur nesciunt cupiditate amet quidem
            quasi quas in, nihil tempore maiores hic perspiciatis ipsam
            consequatur sed harum totam?
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
            atque doloribus. Quia, quasi? Quas quo, iusto voluptatum ipsam
            distinctio corporis, nemo explicabo dolores natus nisi, molestiae
            laborum doloremque beatae veniam! Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Commodi ducimus quas odit quaerat sed
            cum ipsam tempora id consequatur vitae quae voluptatem libero sunt,
            repellendus, aperiam quam ratione culpa voluptatibus.
          </p>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Vero,
            atque doloribus. Quia, quasi? Quas quo, iusto voluptatum ipsam
            distinctio corporis, nemo explicabo dolores natus nisi, molestiae
            laborum doloremque beatae veniam! Lorem ipsum, dolor sit amet
            consectetur adipisicing elit. Commodi ducimus quas odit quaerat sed
            cum ipsam tempora id consequatur vitae quae voluptatem libero sunt,
            repellendus, aperiam quam ratione culpa vitae quae voluptatem libero
            sunt, repellendus, aperiam quam ratione culpa vitae quae voluptatem
            libero sunt, repellendus, aperiam quam ratione culpa vitae quae
            voluptatem libero sunt, repellendus, aperiam quam ratione culpa
            vitae quae voluptatem libero sunt, repellendus, aperiam quam ratione
            culpa vitae quae voluptatem libero sunt, repellendus, aperiam quam
            ratione culpa vitae quae voluptatem libero sunt, repellendus,
            aperiam quam ratione culpa vitae quae voluptatem libero sunt,
            repellendus, aperiam quam ratione culpa vitae quae voluptatem libero
            sunt, repellendus, aperiam quam ratione culpa vitae quae voluptatem
            libero sunt, repellendus, aperiam quam ratione culpa vitae quae
            voluptatem libero sunt, repellendus, aperiam quam ratione culpa
            voluptatibus.
          </p>
        </article>
      </section>
    </main>
  </body>
</html>
