<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Image</title>
    <link rel="stylesheet" href="./image.css" />
  </head>
  <body class="container">
    <h1>Glavni naslov</h1>
    <h3>Naslov prvi</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, repellat
      illo atque sunt totam unde blanditiis, maxime eveniet doloremque sequi
      quam, molestia lore quaerat vero maiores facere earum repellendus aliquam
      magni!Lorem Lorem ipsum, dolor sit amet consectetur adipisicing elit.
      Explicabo error illo illum tenetur eius accusamus quasi fugit, repudiandae
      nam culpa, non delectus est nostrum dignissimos consectetur vitae impedit
      suscipit perspiciatis? Lorem ipsum dolor sit amet consectetur adipisicing
      elit. Accusantium reiciendis consequatur velit nam. Ullam, nam. Eligendi
      molestias perspiciatis libero dolores optio, magnam accusantium dolorum
      cum distinctio ut, eaque culpa tempore! Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Ex asperiores veritatis tempora labore
      provident, doloremque, deleniti minima maiores quas, expedita optio
      quibusdam aut! Facere, delectus! Porro placeat nostrum odit saepe?
    </p>
    <h3>Naslov drugi</h3>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum dignissimos
      beatae optio nesciunt explicabo magni minus veniam harum! Sequi asperiores
      magni sed maiores fuga voluptatem repudiandae deleniti et optio nam? Lorem
      ipsum dolor sit amet consectetur adipisicing elit. Minima nobis soluta
      atque nisi id deleniti dolore, in accusamus recusandae vero vitae libero
      nulla voluptas excepturi veniam tenetur reprehenderit expedita
      perferendis! Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet
      maxime, iusto ducimus quisquam est soluta. Eum ea ab nesciunt accusantium
      ad veritatis expedita, eligendi, illum, quo quis dicta! Nemo, accusantium.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit labore quas
      facere illum, esse ut saepe doloribus accusamus. Dolorem quidem, excepturi
      quos quisquam dolores officia repellendus aspernatur hic! Rerum, facere!
    </p>
    <h4>Naslov treci</h4>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quasi tempora
      quod quia vero sunt necessitatibus provident, ipsam, quidem facere
      accusamus natus illum, ipsum consectetur reiciendis voluptatem quisquam
      magni saepe deserunt. Lorem ipsum dolor, sit amet consectetur adipisicing
      elit. Eos dignissimos sint voluptas neque iure adipisci minima numquam.
      Saepe voluptate et nihil soluta recusandae, aut similique excepturi omnis
      doloremque voluptatum provident.lor Lorem ipsum dolor, sit amet
      consectetur adipisicing elit. Totam pariatur optio suscipit provident
      magnam unde nemo blanditiis sint necessitatibus repudiandae earum quae
      enim eaque quos, exercitationem deserunt excepturi repellat consequatur!
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, quisquam
      at? Iste repudiandae modi ducimus. Corporis quia, magni animi magnam atque
      minus voluptatibus! Tempora beatae aspernatur maiores, officia cumque
      illum. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Aliquid
      eveniet corrupti voluptates dolore officia dolorem nihil repudiandae
      excepturi. Temporibus iste nobis rem quae iusto, itaque vitae ipsam
      officia reiciendis impedit.
    </p>
    <img src="../../../planina.jpg" alt="Planina" class="image1" /><br />
    <img src="../../../planina.jpg" alt="Planina" class="image2" /><br />
    <img src="../../../planina.jpg" alt="Planina" class="image3" /><br />
  </body>
</html>
